# Ignore all .gb, gba, gbc files
*.gb
*.gba
*.gbc

# Ignore Folders
rom/
doc/
old/


# Ignore compiled executable:
rom_reader
sdl_audio
sdl_graphic
cpu_op

# What I'm calling my executable library files
*.o

# (The main executable for now)

x_emulation/log/debug_log.txt
x_emulation/src/gb_em


# Other:
*.out
*.app
*.i*86
*.x86_64
*.hex
*.so
*.so.*
# Libs
*.lib
*.a
*.la
*.lo


# Debug files
.vscode
*.dSYM/
*.su
*.idb
*.pdb