# Ignore all .gb, gba, gbc files
*.gb
*.gba
*.gbc

# Ignore Folders
rom/
doc/
old/


# Ignore compiled executable:
rom_reader
sdl_audio
sdl_graphic

# Other:
*.out
*.app
*.i*86
*.x86_64
*.hex
*.so
*.so.*
# Libs
*.lib
*.a
*.la
*.lo


# Debug files
.vscode
*.dSYM/
*.su
*.idb
*.pdb